// Farben
$color-primary: #f9783d;
$color-secondary: #fadf84;
$color-dark: #111;
$color-light: #ffffff;
$color-border: #656464;
$color-overlay: rgba(0, 0, 0, 0.4);

// Abstände
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 2.5rem;
$space-xxl: 3.5rem;

// Schriftgrößen
$font-xs: 0.87rem;
$font-s: 1rem;
$font-base: 1.25rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-xxl: 4rem;

// Border-Radius
$radius-sm: 4px;
$radius-md: 8px;

// Breakpoints
$bp-md: 768px;
$bp-lg: 1024px;

//Schriftarten
$font-family-base: 'Poppins', sans-serif;
$font-family-secondary: 'Londrina Solid', sans-serif;
